.DS_Store
Icon*
Thumbs.db
*.tmp
*.swp
*.log
*.o
*.obj
*.class
*.exe
*.dll
*.dylib
*.so
*.zip
*.7z
*.rar
*.tar
*.gz
*.avi
*.mp4
*.mov
*.MOV
*.mp3
*.dmg
*.cab
node_modules/
build/
dist/
Debug/
Release/
.metadata/
.recommenders/
